@using CKBlazor.CK
@using CKBlazor.CK.Data
@using Microsoft.JSInterop
@inject GameService GameService
@inject Services.TimerService TimerService

@code {
    private GameState GameState;

    protected override async Task OnInitializedAsync()
    {
        GameState = await GameService.JoinGameAsync("your_game_id", "your_client_guid");
        TimerService.OnTimerElapsed += async () => 
        {
            GameState = await GameService.GetGameState(); 
        };
    }
}


@if (GameState != null)
{
    <a-assets>
        <a-asset-item id="board" src="assets/board.glb"></a-asset-item>
    </a-assets>

    <a-scene>
        <a-entity gltf-model="#board"></a-entity>
        <a-sky color="#ECECEC"></a-sky>
        <a-camera look-controls wasd-controls></a-camera>

        @for(var i = 0; i < GameState.players.Length; i++)
        {
            <a-box position="@((i * 2) - 1) 0.5 -3" rotation="0 45 0" color="@GameState.players[i].color"></a-box>
        }
    </a-scene>

    <div class="game-hud">
        @foreach (var player in GameState.players)
        {
            <div style="background-color:@player.color;">
                <h3>@player.user.name</h3>

            </div>
        }
    </div> 
}
else
{
    <h3>Loading</h3>
}

