<h3>GameView</h3>

@using CKBlazor.CK
@inject GameService gameService

<p>@gameService.FrameId</p>

@code {
    protected override void OnInitialized()
    {
        // gameService.Start();
    }
}